@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Manrope:wght@400;500;700&display=swap");
@import url("./reset.css");
@import url("./normalize.css");
@import url("./modal.css");

:root {
  --darkblue: #2e609a;
  --linkblue: #487bb7;
  --linkblue-hover: #6194d0;
  --lightblue: #c7d9ed;
  --black: #484343;
  --white: #fff;
  --borderColor: #52a1ff;
  --darkgrey: #484343;
  --pureblue: #79a2d3;

  --accent: var(--darkblue);
  --link-box-color: var(--linkblue);
  --link-box-color-hover: var(--linkblue-hover);
  --page-bg-light: var(--lightblue);
  --text-color: var(--black);
  --link-hover: var(--pureblue);
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Manrope";
  font-weight: normal;
}

/* GENERAL */

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
}

.title-1 {
  margin-bottom: 20px;
  color: var(--accent);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
}

.title-2 {
  margin-bottom: 20px;
  color: var(--darkgrey);
  font-size: 24px;
  font-weight: 500;
}

.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.2s ease-in;
  border: none;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn:active {
  position: relative;
  top: 1px;
}

.none {
  display: none;
}
/* HEADER */

/* Auth  page */

.header {
  --bg-color: var(--accent);
  padding: 25px 0;
  background-color: var(--bg-color);
}

.header--auth {
  --bg-color: var(--white);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 60px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo--large {
  font-size: 60px;
  text-transform: uppercase;
  color: var(--darkblue);
}

.logo--small {
  font-size: 36px;
  text-transform: uppercase;
  color: var(--white);
}

.header__logo p {
  margin: 0;
}

.logo {
  display: inline-block;
  position: relative;
  font-family: "DM Sans";
  font-weight: 500;
}

.logo--large,
.logo--small {
  position: relative;
}

.logo__underline::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: var(--borderColor);
}

.logo__underline--small::before {
  width: 80%;
  background-color: var(--white);
}

.logo:hover {
  color: var(--darkblue);
}

.logo__desc {
  margin: 0;
  padding-top: 5px;
  color: var(--accent);
  font-family: "Manrope";
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 250px;
}

.logo__desc--white {
  color: var(--white);
  font-size: 13px;
}

/* MENU TOP */

.menu-top {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 500;
}

.menu-list__link {
  display: inline-block;
  color: var(--white);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.3s ease-in;
}

.menu-list__link:hover {
  color: #efefef;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #efefef;
}

/* MAIN */

.main--auth {
  min-height: 620px;
  background-color: var(--lightblue);
  /* background-image: url("/img/22hbRnQ5.jpeg"); */
  /* background-image: url("/img/IMG_1753-min.jpg"); */
  background-image: url("/img/3tUQV1C7.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main {
  padding: 70px 0;
}

.main__form-wrapper {
  max-width: 500px;
  margin: 0 auto;
  opacity: 0.9;
}

.main__title {
  text-align: center;
  margin-top: 0;
}

/* VIDEO page */

.main--video {
  margin: 0 auto;
  max-width: 560px;
}

.main__video-box {
  margin-bottom: 25px;
  position: relative;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.main__project-list {
  display: flex;
  width: 100%;
}
.main__project-item {
  width: 50%;
}

.main__project-link {
  display: inline-block;
  width: 100%;
  padding: 3em 2em;
  background-color: var(--link-box-color);
  color: #ece7e7;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease-in;
}

.main__project-link:hover {
  background-color: var(--link-box-color-hover);
  color: white;
}

/* AUTH */

.auth {
  background-color: var(--white);
  border-radius: 5px;
}

.auth__title {
  text-align: center;
  font-size: 24px;
  color: var(--accent);
  font-weight: 400px;
  margin: 0;
  padding: 20px 0 0;
}

.auth__title strong {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 34px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  padding: 25px 10px;
  background-color: var(--white);
  border-radius: 5px;
  row-gap: 15px;
}

input:focus {
  border: 1px solid var(--lightblue);
}

.auth__input {
  display: block;
  max-width: 100%;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--darkgrey);
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}

.auth__actions {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.auth__btn-enter {
  width: 50%;
}

.link {
  color: var(--accent);
  transition: color 0.2s ease-in;
}

.link:hover {
  color: var(--link-hover);
}

/* FOOTER */

.footer {
  margin-top: auto;
  padding: 40px 0;
  background-color: var(--darkblue);
}

/* Support */

.support {
  color: var(--white);
}

.support a {
  color: var(--lightblue);
}

.copyright {
  margin-top: 20px;
  position: relative;
  padding: 15px 0;
  font-size: 16px;
  text-align: center;
}

.copyright::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
  opacity: 0.2;
}

.copyright p + p {
  margin-top: 0.5em;
}

/* MOBILE */

@media (max-width: 620px) {
  /* HEADER */

  /* .header-row {
    width: 100%;
    text-align: center;
  } */

  .top-nav {
    flex-direction: column;
  }

  .logo {
    font-size: 45px;
  }

  .logo__underline::before {
    width: 100%;
  }

  .logo__underline {
    display: inline-block;
    width: 100%;
  }

  .logo__desc,
  .logo__underline {
    text-align: center;
  }

  /* MAIN */

  .main--auth {
    min-height: 300px;
  }

  .title-2 {
    padding-bottom: 0;
    font-size: 18px;
  }

  /* VIDEO */

  .main__project-list {
    display: flex;
    flex-direction: column;
  }

  .main__project-item {
    width: 100%;
    position: relative;
  }

  .main__project-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
    opacity: 0.2;
  }

  /* FOOTER */

  .footer {
    padding: 20px 0;
  }
  .support {
    text-align: center;
    font-size: 14px;
  }
  .copyright {
    margin-top: 10px;
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  /* MAIN */

  .main {
    padding: 30px 0;
  }

  /* auth form */

  .main__form-wrapper {
    margin: 0 10px;
    padding: 0 5px;
  }

  .auth__actions {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    row-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
  }

  .auth__btn-enter {
    width: 100%;
  }

  .auth__title {
    font-size: 18px;
  }

  .auth__title strong {
    font-size: 24px;
  }

  .form-wrapper__input {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
  }

  .form-wrapper__input[placeholder],
  .auth__link-forgot,
  .btn {
    font-size: 13px;
  }
}
