.wrapper-profile {
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 30px;
}

.block-info__edit {
  display: inline-block;
  position: relative;
  text-align: right;
  font-size: 13px;
  color: var(--profile-subtitle);
  transition: all 0.2s ease-in;
}

.block-info__edit:hover {
  color: var(--profile-subtitle);
}

/* .block-info__edit:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: red;
} */

.main__teacher-profile {
  display: flex;
  column-gap: 30px;
  row-gap: 24px;
}

.btn-upload {
  display: block;
  padding: 0;
  border-radius: 5px;
  background-color: transparent;
  height: 60px;
  border: 2px solid var(--profile-subtitle);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.teacher-profile__photo {
  position: relative;
  max-width: 300px;
  padding: 0;
}

.teacher-profile__img {
  width: 300px;
  border-radius: 50%;
  padding: 0;
}

.teacher-profile__upload-btn {
  border: none;
  width: 50px;
  height: 50px;
  background-size: cover;
  position: absolute;
  background-image: url("../img/icons/pngwing.com.png");
  bottom: 10%;
  right: 10%;
  cursor: pointer;
}

.teacher-profile__photo img {
  max-width: 100%;

  padding: 0;
}

.teacher-profile__information-block {
}

.block-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 40px 20px;
  width: 100%;
  border-left: 1px solid var(--page-bg-light);
}

.block-info__title {
  margin: 0 0 30px;
  font-size: 20px;
  color: #808d9a;
  position: relative;
  padding-bottom: 3px;
}

.block-info__title::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  background-color: var(--profile-subtitle);
  width: 100%;
  opacity: 0.2;
}

.block-info__header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 0 40px 0;
}

.block-info__key {
  margin: 0 0 8px 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  position: relative;
  word-break: break-word;
  color: var(--profile-text_subhead);
  width: 25%;
}

/* .block-info__key::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: .2em;

    border-bottom: 1px dotted #d6dbe0;
} */

.block-info__val {
  width: 60%;
  display: flex;
  position: relative;
  align-items: flex-end;
  margin: 0 0 8px 0;
  padding: 0 0 0 5px;
  word-break: break-word;
}

.block-info__val::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  border-bottom: 1px dotted #d6dbe0;
}

.block-info__delete {
  display: flex;
  align-self: flex-end;
}

@media (max-width: 790px) {
  .teacher-profile__photo {
    max-width: 200px;
    max-height: 260px;
    padding: 20px;
    background-color: var(--page-bg-light);
    border-radius: 5px;
  }

  .hidden-mobile {
    display: none;
  }

  .teacher-profile__photo {
    max-height: 209px;
  }
}

@media (max-width: 620px) {
  .main__teacher-profile {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    row-gap: 24px;
  }

  .block-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 5px 5px;
    width: 100%;
    border: none;
  }

  .block-info__title {
    margin: 0 0 15px;
    font-size: 20px;
    color: #808d9a;
    position: relative;
    padding-bottom: 3px;
    text-align: center;
  }

  .block-info__header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 40px 0;
    justify-content: space-between;
  }

  .block-info__delete {
    display: flex;
    align-self: center;
  }
}
