.print-show {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

td.t-header {
  font-weight: 500 !important;
}

/* Table for marks */

.table-marks {}

.table__responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  letter-spacing: 0.4px;
}

.table__information-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.table__title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.table__content {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
}

.table__tr {
  transition: all 0.2s ease-in;
}

.table__th {
  border: 1px solid #dad6d6;
  border-bottom: 1px solid var(--borderColor);
  padding: 14px 10px;
  text-align: left;
  color: var(--accent);
}

.table__td {
  border: 1px solid #dad6d6;
  padding: 14px 10px;
}

.table__link {
  color: var(--link-box-color);
  text-decoration: underline !important;
}

.table__link:hover {
  color: var(--link-box-color-hover);
  text-decoration: underline;
}

/* Common info block */

.main__common-info {
  margin: 0 auto;
  max-width: 70%;
}

@media (max-width: 520px) {
  .table__information-item {
    text-align: center;
  }
}

@media print {
  .print-none {
    display: none;
  }

  @page {
    size: auto;
    margin: 0 6mm;
  }

  .print-show {
    visibility: visible;
    position: static;
    width: 1px;
    height: 1px;
    margin: 0;
    border: 0;
    padding: 0;
    clip: none;
    overflow: visible;
  }

}