.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.hover-row:hover {
  background-color: var(--linkblue-hover);
  color: var(--white);
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.good-bg {
  background-color: #8bb271;
  color: var(--white);
  font-size: 18px;
}